.hr-dashed {
  border: 0px;
  border-top: 5px dashed #e2e198;
  margin: 40px;
}

.container {
  display: flex;
  width: auto;
  height: 100%;
  background-color: #cae3cd;
  overflow: auto;
}

.profile {
  float: left;
  width: 300px;
  min-height: 250px;
  background-color: #4e5180;
}

.box {
  width: 200px;
  height: 200px;
  margin: 80px 50px;
  border-radius: 70%;
  border: 3px solid #e2e198;
}

.page {
  width: auto;
  height: auto;
}

.aboutMe {
  width: 900px;
  height: 300px;
  margin-top: 100px;
  position: relative;
  left: 10%;
}

.favorites {
  width: 900px;
  height: auto;
  position: relative;
  left: 10%;
}

.hobbyImg {
  width: 200px;
  height: 200px;
  float: left;
  display: block;
  margin: 10px 30px 10px;
}

.name {
  text-align: center;
}

.uiBox {
  border-radius: 20%;
  display: block;
  margin: auto;
}

.indexColor {
  text-align: center;
  color: #ffbe0a;
}
/* 글씨 오른쪽 옆에 줄 */
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: black;
  font-size: 30px;
  margin: 8px 0px;
}
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: black;
  height: 1px;
  font-size: 0px;
  line-height: 1px;
  margin: 0px 16px;
}

.left {
  display: flex;
}

.btn {
  border-radius: 20%;
  border: 1px solid #ffbe0a;
  padding: 5px;
  color: #4e5180;
  background-color: #ffbe0a;
}

.Login {
  position: relative;
  left: 90%;
  width: 975px;
  padding-bottom: 10px;
  margin: 10px;
}
